/* ### 版面設計 ###*/

body {
    margin: 24px 10px;
    font-family: Arial, '微軟正黑體', sans-serif;
}







/* L-size bigger than 980px; M-size 640~979px; S-size smaller than 639px */

#container {
    width: 1200px;
    margin: auto;
}

header {
    margin-bottom: 10px;
    overflow: hidden;
}






/* overflow:hidden 將多的區塊隱藏，版面比較好看 */

#headerpost {
    margin-bottom: 20px;
    overflow: hidden;
}

#content {
    margin-bottom: 20px;
    overflow: hidden;
}

footer {
    margin-bottom: 20px;
}

















/* ### 細節設計 ###*/


/* HEADER LOGO */

#site {
    float: left;
}

#site h1 {
    margin: 0;
}














/* vertical-align: bottom 對齊底部，比較好看 */


/* container設960，三分法原則，site img 設300-360都蠻好看的 */

#site img {
    vertical-align: bottom;
    width: 360x;
}
















/* HEADER NAV */


/* 可用google font 尋找喜歡的瀏覽器字體 https://fonts.google.com/ */


/* padding和margin差異可看講義*/

nav {
    float: right;
    font-size: 15px;
    font-family: 'Satisfy', cursive;
    padding-top: 30px;
}


nav ul {
    margin: 0;
    padding: 0;
}














/* list-style-type: none 可把原本有序列表的點點取消*/

nav li {
    list-style-type: none;
    float: left;
}












/* 用CSS做選單!!!這邊先暫且依樣畫葫蘆，之後會教大家Bootstrap，就不用用CSS刻很久了*/


/*  display: block 每個連結字體以區塊顯示*/


/*  float: left margin-top 連結字體靠左向上對齊*/


/*  text-decoration: none 取消底線*/


/*  border-bottom: solid 3px transparent 製作一個透明的下底線*/


/*  color請參考CSS色碼對照表 https://www.toodoo.com/db/color.html */

nav li a {
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: solid 3px transparent;
    color: #003377;
}










/*  nav li a:hover 當滑鼠在連結文字上徘徊的時候 */

nav li a:hover {
    border-bottom-color:#0088A8;
}














/*  HEADERPOST 圖片*/


/* vertical-align: bottom 對齊底部，比較好看 */


/* container設960，三分法原則，headerpost設620-660都蠻好看的 */

#headerpost img {
    float: left;
    vertical-align: bottom;
    width: 660px;
}













/*  HEADERPOST LEAD*/

#headerpost #lead {
    float: left;
    width: 300px;
    color: #FFFFFF;
    margin-left: 25px;
}

#headerpost h2 {
    margin: 20px 0;
}

#headerpost .more {
    font-size: 18px;
    font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
    text-align: right;
}



/* 用CSS寫按鈕!!!這邊先暫且依樣畫葫蘆，之後會教大家Bootstrap，就不用用CSS刻很久了*/

#headerpost .more a {
    color: #003377;
    background-image: url(img/more.png);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: right center;
    display: block;
    padding: 10px 40px 10px 0;
    text-decoration: none;
}



/* 用CSS做漸層!!!這邊先暫且依樣畫葫蘆，之後會教大家Bootstrap，就不用用CSS刻很久了*/

#headerpost {
    background-color: #000088;
    background: -webkit-gradient(linear, left top, left bottom, from(#003377), to(#FFFFFF));
    background: -webkit-linear-gradient(#003377 0%, #FFFFFF 100%);
    background: -moz-linear-gradient(#003377 0%, #FFFFFF 100%);
    background: -o-linear-gradient(#003377 0%, #FFFFFF 100%);
    background: -ms-linear-gradient(#003377 0%, #FFFFFF 100%);
    background: linear-gradient(#003377 0%, #FFFFFF 100%);
    overflow: hidden;
}






/* POST 圖文 */


/* container設960，216x4+32x3=960 */

.post {
    float: left;
    width: 216px;
    margin-right: 32px;
    margin-bottom: 25px;
}


/* .post:last-child 以後新增的post，只要是最後一個，右邊界皆為0 */

.post:last-child {
    margin-right: 0;
}


/* 每四個為一組的post，右邊界皆為0 */

.post+.post+.post+.post {
    margin-right: 0;
}


.post img {
    width: 216px;
    height: auto;
    vertical-align: bottom;
    border: none;
}

.post h2 {
    font-size: 16px;
    margin: 5px 0 0;
}

.post p {
    font-size: 12px;
    margin: 10px 0;
}

.post .data {
    float: left;
    margin: 0;
}

.post .more_s {
    float: right;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Macen Pro', Helvetica, Arial, sans-serif;
    background-color: #003377 ;
    background-image: url(img/more.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 94% 50%;
    padding: 3px 25px 3px 5px;
    margin: 0;
}

.post a {
    color: #003377;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.post a:hover {
    background-color: #007799





























/* ### FOOTER ###*/

footer {
    background-color: #000000;
    padding: 5px;
}


footer p {
    float: left;
    margin-top: 10px;
    color: #ffffff
}

#iconmenu {
    float: right;
}

#iconmenu ul {
    margin: 0;
    padding: 3px 0 0;
}

#iconmenu li {
    display: inline;
    list-style-type: none;
}

#iconmenu img {
    border: none;
    width: 28px;
}

#submenu {
    clear: both;
    font-family: 'Maven Pro', Helvetica, Arial, san-serif;
    font-size: 12px;
    overflow: hidden;
}

#submenu ul {
    margin: 3px;
    padding: 0;
}

#submenu li {
    list-style-type: none;
    float: left;
}

#submenu li a {
    display: block;
    width: auto;
    border-right: solid 1px #ffffff;
    text-align: center;
    text-decoration: none;
    color: #ff1e97;
    font-weight: bold;
    padding-right: 6px;
    margin-right: 3px;
}

#submenu li:last-child a {
    border: none;
}

#submenu li+li+li a {
    border: none;
}

small {
    font-size: 12px;
    font-weight: bold;
    display: block;
    color: #ffffff;
    margin-top: 10px;
}